* { box-sizing: border-box; margin: 0; padding: 0; }

html, body, #root { height: 100%; font-family: "Inter", sans-serif; }

body { background-color: #f5f5f5; }

::-webkit-scrollbar { width: 4px; height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #ddd; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #bbb; }

a { text-decoration: none; color: inherit; }

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f8f9fa;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

a {
  text-decoration: none;
  color: inherit;
} */